header{
    display: flex;
    background-color: #808080;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
}
.logo{
    width: 60px;
    height: 60px;
    align-self: center;

}
.links{
    align-items: center;
    font-size: 10px;
}
.card{
    background-color: rgb(228, 167, 103);
    width: 20px;
    height: 20px;
}
